* {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to bottom right,
    rgb(255, 255, 255),
    rgb(233, 233, 233),
    rgb(255, 255, 255)
  );
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  text-align: center;
}

.title1 {
  margin-top: 100px;
  font-size: 30px;
}

.title2 {
  margin-top: 50px;
  font-size: 30px;
}

iframe {
  margin: 0 auto;
  width: 98%;
  min-width: 300px;
  border-radius: 20px;
  border: solid rgb(123, 180, 234);
}

.filter-search-section {
  border: solid rgb(123, 180, 234);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  text-align: center;
  margin: 0 auto 100px;
  background-color: white;
}

.search-bar-section {
  text-align: center;
  margin: 0 0 20px;
}

#myTable th {
  width: 50%;
}

#footer {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer .line {
  height: 2px;
  background-color: rgb(123, 180, 234);
  width: 96%;
}

#footer h3 {
  font-size: 16px;
  color: rgb(77, 77, 77);
  margin: 10px;
}
#footer .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#footer a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

#footer h3:hover {
  transform: scale(1.025);
  transition: 300ms;
  cursor: pointer;
}

#footer h3:active {
  transform: scale(1);
  transition: 50ms;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    iframe {
        height: 700px;
    }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
    iframe {
        height: 550px;
      }
 }
 

@media all and (min-width: 480px) and (max-width: 768px) {
    iframe {
        height: 400px;
      }
 }

@media all and (max-width: 480px) {
    iframe {
        height: 300px;
      }
 }
