* {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(234, 246, 255),
    rgb(255, 255, 255)
  );
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.container h1 {
  margin: 30px 0 40px;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.map-container {
  width: 100%;
  margin: 10px;
}

.map-title {
  font-size: 30px;
  margin: 10px;
}

.search-container {
  margin: 10px;
}

.search-title {
  font-size: 30px;
  margin: 10px;
}

iframe {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  height: 600px;
  border-radius: 20px;
  border: solid rgb(123, 180, 234);
}

.filter-container {
  margin: 10px;
}

.filter-search-section {
  border: solid rgb(123, 180, 234);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  text-align: center;
  background-color: white;
}

.search-bar-section {
  text-align: center;
  margin: 0 0 20px;
}

#myTable th {
  width: 50%;
}

#footer {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer .line {
  height: 2px;
  background-color: rgb(123, 180, 234);
  width: 96%;
}

#footer h3 {
  font-size: 16px;
  color: rgb(77, 77, 77);
  margin: 10px;
}
#footer .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#footer a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

#footer .link:hover {
  transform: scale(1.025);
  transition: 300ms;
  cursor: pointer;
}

#footer .link:active {
  transform: scale(1);
  transition: 50ms;
}

@media all and (min-width:1400px) {
  .content-container {
    flex-direction: column;
  }

  iframe {
    height: 750px;
  }
  
  .search-container {
    width: 100%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
  .content-container {
    flex-direction: column;
  }

  iframe {
    height: 700px;
  }

  }
@media all and (min-width: 1024px) and (max-width: 1200px) {
  .content-container {
    flex-direction: column;
  }

  .map-container, 
  .search-container {
    margin: 10px 0;
  }

  iframe {
    height: 550px;
  }
}

@media all and (min-width: 992px) and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
  }

  .map-container, 
  .search-container {
    margin: 10px 0;
  }

  iframe {
    height: 550px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .content-container {
    flex-direction: column;
  }

  .map-container, 
  .search-container {
    margin: 10px 0;
  }

  iframe {
    height: 450px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .map-container, 
  .search-container {
    margin: 10px 0;
  }

  iframe {
    height: 350px;
  }
  #footer h3 {
    font-size: 14px;
  }
}

@media all and (max-width: 480px) {
  .content-container {
    flex-direction: column;
  }

  .map-container, 
  .search-container {
    margin: 10px 0;
  }

  iframe {
    height: 260px;
  }
  #footer h3 {
    font-size: 14px;
  }
}
